<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Landing Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='landingpage.css') }}" />
</head>
<body>
  <header>
    CAMPUS CLOSET
  </header>
  <section class="hero">
    <h2>A VIRTUAL THRIFT STORE FOR SCSU STUDENTS</h2>
    <p>Donate or request clothes, dorm furniture, and supplies for free. Join the community today!</p>
    <a href="{{ url_for('main.login') }}"><button class="cta-button">GET STARTED</button></a>
  </section>
  </body>
</html>