{% extends 'base.html' %}
{% block title %}Listing Details{% endblock %}
{% block content %}
    <div class="main-content">
        <h2>Listing Details</h2><br>
        <p><strong>User Name</strong> {{ listing.userName }}</p><br>
        <p><strong>User ID:</strong> {{ listing.userID }}</p><br>
        <p><strong>Listing created at </strong> {{ listing.created_at.strftime('%Y-%m-%d %H:%M:%S UTC') }}</p><br>
        <p><strong>Title:</strong> {{ listing.title }}</p><br>
        <p><strong>Description:</strong> {{ listing.description }}</p><br>
        <p><strong>Category:</strong> {{ listing.category }}</p><br>
        <p><strong>Condition</strong> {{ listing.condition}}</p><br>
        <p><strong>Email Contact:</strong> {{ user.email }}</p><br>
        <a href="#">Send message</a><br><br>
        <a href="{{ url_for('main.home') }}">Back to Home</a>
    </div>
{% endblock %}