{% extends 'base.html' %}
{% block title %}Listing Details{% endblock %}

{% block content %}
<div class="main-content">
    <h2>Listing Details</h2><br>

    <p><strong>User Name:</strong> {{ listing.userName }}</p><br>
    <p><strong>User ID:</strong> {{ listing.userID }}</p><br>
    <p><strong>Listing created at:</strong> {{ listing.created_at.strftime('%Y-%m-%d %H:%M:%S UTC') }}</p><br>
    <p><strong>Title:</strong> {{ listing.title }}</p><br>
    <p><strong>Description:</strong> {{ listing.description }}</p><br>
    <p><strong>Category:</strong> {{ listing.category }}</p><br>
    <p><strong>Condition:</strong> {{ listing.condition }}</p><br>
    <p><strong>Email Contact:</strong> {{ user.email }}</p><br>

    {% if current_user.is_authenticated %}
        {% set is_favorited = listing.listingID in favorited_ids %}
            {% if is_favorited %}
            <form action="{{ url_for('main.unfavorite_listing', listing_id=listing.listingID) }}" method="post">
                <button type="submit">❌ Remove from Favorites</button>
            </form>
            {% else %}
            <form action="{{ url_for('main.favorite_listing', listing_id=listing.listingID) }}" method="post">
                <button type="submit">⭐ Add to Favorites</button>
            </form>
            {% endif %}
            <br>
    {% endif %}
    {% if current_user.id != listing.userID %}
    <a href="{{ url_for('main.message_user', userID=listing.userID) }}">Send message</a><br><br>
    {% endif %}
    <a href="{{ url_for('main.home') }}">Back to Home</a>

</div>
{% endblock %}

